<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <p>I’m a result-oriented organizational communication specialist with 5+ years of hands-on experience in the 
          professional field of finance, technology and journalism. I have proven ability in retaining global audiences 
          through public speech and managing social media channels through content that adds brand value, in order to make 
          meaningful contact and memorable experiences for clients.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="INSERT HERE" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Resume
        </a>
      </div>
    </div>
  </div>
</section>
